<picture data-aos="zoom-in">
    <source
      type="image/webp"
      srcset="
        images/network-w310.webp 320w,
        images/network-w996.webp 996w,
        images/network-w1424.webp 1424w,
        images/network-w1849.webp 1849w,
        images/network-w2146.webp 2146w,
        images/network-w2400.webp 2400w
      "
    />
    <source
      type="image/jpg"
      srcset="
      images/network-w310.jpg 320w,
      images/network-w996.jpg 996w,
      images/network-w1424.jpg 1424w,
      images/network-w1849.jpg 1849w,
      images/network-w2146.jpg 2146w,
      images/network-w2400.jpg 2400w
      "
    />
    <img class="hero__image" src="images/network-w2400.webp" alt="" />
  </picture>